<div class="centerColumn">
        <h1> Api connect </h1>
        <p> Hardcoded using API http://wwww.me-api.ysojs.se</p>
        <p> Demo connecting to an API on a server, connected to a database.</p>
        <p> The API means entrances to an application that return data or perform some task. 
            These entrances are made available, like buttons. <br>
            The backend API server is made with Node.js & express - javascript programming.
            The frontend which provides the graphical interface, the view and buttons visible, is made with the framework Angular.</p>


        <div class="btns">
            <!-- <div (click)="route1()" class="submitBtn"> Introduction  </div> -->
            <div (click)="route2()" class="submitBtn"> Token  </div>
            <div (click)="route3()" class="submitBtn"> All users  </div>
            <div (click)="route8()" class="submitBtn"> All logged on  </div>
        </div>

        <div class="response">
            <h2> Response: </h2>
            <p> {{response}} </p>
        </div>

        <ul class="users">
            <li *ngFor="let user of users">
                <b> {{user.name}} </b> {{user.email}} 
            </li>
        </ul>


